/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require fullcalendar
 *= require bootstrap
 *= require_tree .
 */
 
.centr {
  margin: 0 auto !important;
  width: 1100px;
  padding-top: 50px;
  padding-left: 50px;
}

#main-navigation{
  z-index: 9999;
}
.right_title {
  float: right;
}

.left_title {
  float: left;
}

.user-show {
  margin: 0 auto;
  padding: 10px;
}

.u-table {
  width: 100%;
  font-size: 18px;
}
.u-table td {
  padding: 5px;
}

.menu{
  
  top: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.img-logo {
  top: 50px;
  right: 25px;
  position: fixed;
}
.ui-datepicker-trigger {
  float: right;
}
.ui-datepicker-month {
  padding: 4px 10px 4px 10px;
}

.ui-datepicker-year {
  padding: 4px 10px 4px 10px;
}

#flash-section {
  position: fixed;
  top: 50px;
  right: 150px;
  width: 250px;
  opacity: 0.6;
}
#flash-section .alert { 
  font-size: 12px; 
}
#flash-section .alert-success { 
  background: #090808;
  color: #FFF;
  text-align: left;
  border-radius: 7px;
  margin-bottom: 10px;
}
#flash-section .close {
  color: #FFF;
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}


.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}
.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

html, body, #wrap {
height: 100%;
margin: 0px;
}

body > #wrap {
height: auto;
min-height: 100%;
}

#main {
  padding-bottom: 50px; /* отступ должен быть равен высоте футера */
}
#footer {
  position: relative;
  margin-top: -50px; /* отрицательное значение высоты футера */
  height: 50px;
  clear:both;
  background: #000;
  text-align: center;
  color: #fff;
  font-size: 260%;
  z-index: 2;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

.box-wraper-back {
  left: 50px;
  position: fixed;
  width: 100px;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(254,254,254,0.05);
}

.box-wraper-back:after {
  content: "^^^^^^^^^^^";
  color: #000;
  font-size: 12px;
  margin: 20px;
}

.box-wraper-back:hover {
  background: rgba(200,200,200,0.5);
}
