/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
.content {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.user-show {
  margin: 0 auto;
  padding: 10px;
}

.u-table {
  width: 100%;
  font-size: 18px;
}
.u-table td {
  padding: 5px;
}

.menu{
  left: 35px;
  top: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
}
.nav-tabs {
  background-color: #323e4c;
}

.languages {
  margin-top:50px;
  margin-left: 50px;
}

.aside {
  width: 35px;
  min-height: 100% !important;
  overflow: hidden;
  float: left;
  background-color: #323e4c;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10; }
  .aside .aside-back .spacer {
    display: inline-block;
    width: 10%;
    max-width: 20px;
    height: 29px; }
  .aside .aside-back .back-item {
    display: inline-block;
    cursor: pointer;
    width: 29px;
    height: 29px;
    margin-top: 26px;
    margin-bottom: 110px;
    background-image: url('/assets/aside-back-arrow.png'); }

.aside.collapsed .aside-back .back-item {
  background-position: -29px 0px; }

.aside.hide {
  width: 70px; }
  .aside.hide .spacer {
    width: 20px; }


.nav-main {
  border-top: 1px solid #080d14;
  border-bottom: 1px solid #3f4f62; }
  .nav-main .main-item {
    padding-top: 20px;
    padding-bottom: 23px;
    text-decoration: none;
    border-bottom: 1px solid #080d14;
    border-top: 1px solid #3f4f62;
    display: block;
    white-space: nowrap;
    overflow: hidden; }
    .nav-main .main-item:hover {
      opacity: .7; }
    .nav-main .main-item.active {
      background-color: #3f4f62;
      border-top: #0a1019; }
    .nav-main .main-item:after {
      content: "";
      display: table;
      clear: both; }
    .nav-main .main-item .spacer {
      width: 10%;
      max-width: 20px;
      display: inline-block;
      height: 32px; }
    .nav-main .main-item span {
      vertical-align: top;
      display: inline-block;
      padding-top: 4px;
      height: 28px;
      margin-left: 40px;
      font: 300 18px/24px "Open Sans", sans-serif;
      color: #fff; }
    .nav-main .main-item .nav-ico {
      width: 35px;
      display: inline-block;
      height: 32px; }
      .nav-main .main-item .nav-ico.speed {
        background: url('/assets/aside-menu-ico1.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.goods {
        background: url('/assets/aside-menu-ico2.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.categ {
        background: url('/assets/aside-menu-ico3.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.settings {
        background: url('/assets/aside-menu-ico4.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.exit {
        background: url('/assets/aside-menu-ico5.png') no-repeat left center; }

#flash-section {
  position: fixed;
  top: 60px;
  right: 10px;
  width: 250px;
  /*text-align: center;*/
  opacity: 0.6;
  .alert { font-size: 12px; }
  .alert-success { 
    background: #090808;
    color: #FFF;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
  }

  .close {
    color: #FFF;
  }
}