/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */
 
.centr {
  margin: 0 auto !important;
  width: 1100px;
  padding-top: 50px;
  padding-left: 50px;
}

.user-show {
  margin: 0 auto;
  padding: 10px;
}

.u-table {
  width: 100%;
  font-size: 18px;
}
.u-table td {
  padding: 5px;
}

.menu{
  left: 35px;
  top: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-tabs {
  background-color: #323e4c;
}

.img-logo {
  top: 50px;
  right: 25px;
  position: fixed;
}
.ui-datepicker-trigger {
  float: right;
}
.ui-datepicker-month {
  padding: 4px 10px 4px 10px;
}

.ui-datepicker-year {
  padding: 4px 10px 4px 10px;
}
.aside {
  width: 35px;
  min-height: 100% !important;
  overflow: hidden;
  float: left;
  background-color: #323e4c;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10; }
  .aside .aside-back .spacer {
    display: inline-block;
    width: 10%;
    max-width: 20px;
    height: 29px; }
  .aside .aside-back .back-item {
    display: inline-block;
    cursor: pointer;
    width: 29px;
    height: 29px;
    margin-top: 26px;
    margin-bottom: 110px;
     }

.aside.collapsed .aside-back .back-item {
  background-position: -29px 0px; }

.aside.hide {
  width: 70px; }
  .aside.hide .spacer {
    width: 20px; }


.nav-main {
  border-top: 1px solid #080d14;
  border-bottom: 1px solid #3f4f62; }
  .nav-main .main-item {
    padding-top: 20px;
    padding-bottom: 23px;
    text-decoration: none;
    border-bottom: 1px solid #080d14;
    border-top: 1px solid #3f4f62;
    display: block;
    white-space: nowrap;
    overflow: hidden; }
    .nav-main .main-item:hover {
      opacity: .7; }
    .nav-main .main-item.active {
      background-color: #3f4f62;
      border-top: #0a1019; }
    .nav-main .main-item:after {
      content: "";
      display: table;
      clear: both; }
    .nav-main .main-item .spacer {
      width: 10%;
      max-width: 20px;
      display: inline-block;
      height: 32px; }
    .nav-main .main-item span {
      vertical-align: top;
      display: inline-block;
      padding-top: 4px;
      height: 28px;
      margin-left: 40px;
      font: 300 18px/24px "Open Sans", sans-serif;
      color: #fff; }
    .nav-main .main-item .nav-ico {
      width: 35px;
      display: inline-block;
      height: 32px; }
      .nav-main .main-item .nav-ico.speed {
        background: url('/assets/aside-menu-ico1.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.goods {
        background: url('/assets/aside-menu-ico2.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.categ {
        background: url('/assets/aside-menu-ico3.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.settings {
        background: url('/assets/aside-menu-ico4.png') no-repeat left center; }
      .nav-main .main-item .nav-ico.exit {
        background: url('/assets/aside-menu-ico5.png') no-repeat left center; }

#flash-section {
  position: fixed;
  top: 50px;
  right: 150px;
  width: 250px;
  opacity: 0.6;
}
#flash-section .alert { 
  font-size: 12px; 
}
#flash-section .alert-success { 
  background: #090808;
  color: #FFF;
  text-align: left;
  border-radius: 7px;
  margin-bottom: 10px;
}
#flash-section .close {
  color: #FFF;
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}


.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}
.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
#user_birthday {
  width: 90%;
}